/*Universal Selector to set baseline */
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}
/*small change*/
/* I guess slightly grey is better than blinding white */
body {
    background-color: #d9dcd6;
}

header {
    /*header stays with page as you scroll*/
    position: fixed;
    width: 100%;
    /*removed extra space in padding*/
    padding: 20px 20px 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/*changes seo to same as background and correct size*/
.seo {
    color: #d9dcd6;
    font-size: 48px;
    font-style: normal;
}

/*pushing the ul up to be even with h1 and justify right*/
ul{
    position: relative; 
    bottom: 36px;
    float: right;
}

li {
    /*Separates links*/
    padding: 0 10px;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* all hyperlinks, no underline, color white*/
a { 
    color: #ffffff;
    text-decoration: none;
}

/*one time use*/
#frontImage {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
}

/*left side of bottom*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*defines each  box*/
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
 }

 .contentImages {/*gives the content images a fixed height*/
    max-height: 200px;
}

 .float-left {/*2 of the images in content go left*/
    float: left;
    margin-right: 25px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

.float-right {/*the middle image goes right */
    float: right;
    margin-left: 25px;
}

/*right side of bottom*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {/*positioning and size */
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em;
}

.benefitImg {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} 

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
